{{#org-footer}}
{{! <footer class="footer-section">
   <div class="container">
      <div class="footer-section__wrapper">
         <div class="footer-section__wrapper__left">
            <p>buy Singapore <br>
               Good Delivery Bar</p>
            <a href="#" class="buy-link" target="_blank"><img src="assets/img/footer-img01.png" alt="Footer img"></a>
            <a href="#" class="buy-link" target="_blank"><img src="assets/img/footer-img02.png" alt="Footer img"></a>
            <div class="phone-wrpapper">
               <a href="tel:+658777796627" target="_blank"><span>Call us </span><br> +658777796627 <br> <span>Mon-Fri 8:30-5:00 pm GMT +8</span> </a>
            </div>
         </div>
         <div class="footer-section__wrapper__right">
            <a class="bevis-buy-link" href="#" target="_blank">
               <img src="assets/img/footer-bevis-logo.svg" alt="Footer img">
               <span> Download free <br> BEVIS app today</span>
            </a>
            <a  class="app-link" href="#" target="_blank"><img src="assets/img/footer-app.svg" alt="Footer img"></a>
            <a href="#" target="_blank"><img src="assets/img/footer-google.svg" alt="Footer img"></a>
         </div>
      </div>
   </div>
</footer> }}
{{/org-footer}}
