{{#org-header}}

<header class="header-section">
   <div class="container">
      <div class="header-section__content">
         <div class="header-section__content__logo">
            <a  href="#"><img src="assets/img/logo-bevis.svg" alt="Header logo"></a>
         </div>
         <div class="header-section__content__nav">
            <ul>
               <li><a class="page-ancor" id="master-section" href="#">MASTER </a></li>
               <li><a class="page-ancor" id="asset-block"  href="#">ASSET </a></li>
               <li><a class="page-ancor" id="carton-block"  href="#">CARTON</a></li>
               <li><a class="page-ancor" id="sku-block" href="#">SKU</a></li>
               <li><a class="page-ancor" id="qc-section" href="#">QC</a></li>
               <li><a class="page-ancor" id="vendor-section" href="#">VENDOR</a></li>
               <li><a class="page-ancor" id="location-section" href="#">Location</a></li>
               <li><a class="page-ancor" id="certificate-section" href="#">Certificate</a></li>
               <li><a class="page-ancor" id="related-section" href="#">Related Assets</a></li>
            </ul>
         </div>
         <div  id="hamburger" class="hamburger-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="44" viewBox="0 0 51 44">
               <g id="Group_206" data-name="Group 206" transform="translate(-35 -91)">
                 <rect id="Rectangle_123" data-name="Rectangle 123" width="51" height="44" transform="translate(35 91)" fill="#EE2D36"/>
                 <g id="hamburger_menu" data-name="hamburger menu" transform="translate(45 103)">
                   <line id="Line_8" data-name="Line 8" x1="30.5" transform="translate(0 21)" fill="none" stroke="#fff" stroke-width="3"/>
                   <line id="Line_9" data-name="Line 9" x1="30.5" transform="translate(0 14)" fill="none" stroke="#fff" stroke-width="3"/>
                   <line id="Line_10" data-name="Line 10" x1="30.5" transform="translate(0 7)" fill="none" stroke="#fff" stroke-width="3"/>
                   <line id="Line_11" data-name="Line 11" x1="30.5" fill="none" stroke="#fff" stroke-width="3"/>
                 </g>
               </g>
             </svg>
         </div>
      </div>
   </div>
</header>
{{/org-header}}
